h1 {
	font-family: "Sans Open", monospace;
	font-size: 4em;
	font-weight: bold;
}
h2 {
	font-family: "Source Code Pro", "Sans Open", monospace;
	padding: 0px 10px 50px 10px;
}
.bgimage {
	background-image: url('https://openclipart.org/download/243811/Binary-Earth-Map.svg');
	background-repeat: no-repeat;
	background-position: center;
}
.nav_link {
	vertical-align: middle;
	font-family: "Sans Open", monospace;
}
.main {
	padding: 50px 10px 250px 10px;
	vertical-align: middle;
	font-family: "Sans Open", monospace;
}

@media (min-width: 768px) {
	.img-responsive {
		max-width: 60%;
	}
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.bottom {
	padding-top: 100px;
}

 .banner {
  height: 200px;
  width: 100%;

  background-image: url("/img/banner.jpg");
  background-size: cover;
}